<html xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
   <body>
      <div th:fragment="left">
         <div class="side-menu sidebar-inverse">
            <nav class="navbar navbar-default" role="navigation">
                <div class="side-menu-container">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">
                            <div class="icon fa fa-paper-plane"></div>
                            <div class="title">Jizuz  [仇鹏飞]</div>
                        </a>
                        <button type="button" class="navbar-expand-toggle pull-right visible-xs">
                            <i class="fa fa-times icon"></i>
                        </button>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="act">
                            <a th:href="@{index}">
                                <span class="icon fa fa-tachometer"></span><span class="title">主页</span>
                            </a>
                        </li>
                        
                        <!-- 软件 -->
                        <li class="act panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-element">
                                <span class="icon fa fa-desktop"></span><span class="title">软件工程</span>
                            </a>
                            <!-- Dropdown level 1 -->
                            <div id="dropdown-element" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a th:href="@{java}">Java</a></li>
                                        <li><a th:href="@{py}">Python</a></li>
                                        <li><a th:href="@{php}">Php</a></li>
                                        <li><a th:href="@{webgl}">WebGL</a></li>
                                        <li><a th:href="@{front}">前端</a></li>
                                        <li><a th:href="@{problem}">问题</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        
                        <!-- 摄影 -->
                        <li class="act panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-photo">
                                <span class="icon fa fa-table"></span><span class="title">摄影</span>
                            </a>
                            <div id="dropdown-photo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a th:href="@{shoot}">摄影技巧</a></li>
                                        <li><a th:href="@{photo}">图片分享</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        
                        <!-- 设计 -->
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-design">
                                <span class="icon fa fa-file-text-o"></span><span class="title">设计</span>
                            </a>
                            <div id="dropdown-design" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a th:href="@{ps}">PhotoShop</a></li>
                                        <li><a th:href="@{ae}">AffterEffects</a></li>
                                        <li><a th:href="@{pr}">Premiere</a></li>
                                        <li><a th:href="@{max}">3Ds Max</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        
                        <!-- 运动 -->
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#component-sport">
                                <span class="icon fa fa-cubes"></span><span class="title">运动</span>
                            </a>
                            <div id="component-sport" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a th:href="@{football}">足球</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        
                        <!-- 生活 -->
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-life">
                                <span class="icon fa fa-slack"></span><span class="title">生活</span>
                            </a>
                            <div id="dropdown-life" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a th:href="@{think}">随想</a></li>
                                        <li><a th:href="@{times}">时光</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        
                        <!-- 关于我 -->
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-me">
                                <span class="icon fa fa-archive"></span><span class="title">关于我</span>
                            </a>
                            <div id="dropdown-me" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a th:href="@{about}">Jizuz</a></li>
                                        <li><a th:href="@{words}">留言</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        
                        <!-- 个人信息 -->
                        <li>
                            <a th:href="@{profile}">
                                <span class="icon fa fa-thumbs-o-up"></span><span class="title">个人信息</span>
                            </a>
                        </li>
                        
                        <shiro:hasPermission name="view">
                        <!-- 管理 -->
                        <li class="panel panel-default dropdown">
                            <a data-toggle="collapse" href="#dropdown-mgt">
                                <span class="icon fa fa-archive"></span><span class="title">系统管理</span>
                            </a>
                            <div id="dropdown-mgt" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <ul class="nav navbar-nav">
                                        <li><a th:href="@{memberMgt}">会员管理</a></li>
                                        <li><a th:href="@{articleMgt}">文章管理</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        </shiro:hasPermission>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </nav>
        </div>
      </div>
   </body>
</html>