<html>
<body>
	<div th:fragment="container">
		<div class="side-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<div class="card-body">
							<form class="form-inline">
								<div class="form-group">
									<label for="userId">会员编号</label> <input type="text" class="form-control" id="userId" placeholder="id">
								</div>
								&nbsp;&nbsp;
								<div class="form-group">
									<label for="nkName">会员昵称</label> <input type="text" class="form-control" id="nkName" placeholder="nickName">
								</div>
								&nbsp;&nbsp;
								<div class="form-group">
									<label for="tele">联系电话</label> <input type="text" class="form-control" id="tele" placeholder="telephone">
								</div>
								&nbsp;&nbsp;
								<div class="form-group">
									<label for="mail">电子邮件</label> <input type="text" class="form-control" id="mail" placeholder="e-mail">
								</div>
								<button type="submit" class="btn btn-info">查询</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<div class="row">
							<div class="col-sm-12">
								<div class="card-body">
									<div class="row">
										<div class="col-sm-2">
											<button type="button" class="btn btn-info">+ 添加</button>
											<button type="button" class="btn btn-info">- 删除</button>
										</div>
									</div>
									<table class="table table-hover table-bordered">
										<thead>
											<tr>
												<th></th>
												<th>编号</th>
												<th>用户昵称</th>
												<th>用户姓名</th>
												<th>生日</th>
												<th>性别</th>
												<th>联系电话</th>
												<th>电子邮件</th>
												<th>家庭住址</th>
												<th>联系地址</th>
												<th>公司</th>
												<th>编辑</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="user,userStat:${users}">
												<th>
													<div class="checkbox-inline">
			                                            <input type="checkbox" id="checkbox" checked="">
                                          			</div>
												</th>
												<th th:text="${user.uid}"></th>
												<td th:text="${user.userName}"></td>
												<td th:text="${user.fullName}"></td>
												<td th:text="${user.birthday}"></td>
												<td th:text="${user.sex}"></td>
												<td th:text="${user.tel}"></td>
												<td th:text="${user.email}"></td>
												<td th:text="${user.homeAddr}"></td>
												<td th:text="${user.nowAddr}"></td>
												<td th:text="${user.company}"></td>
												<td align='center'>
													<span value="" th:value="${user.uid}"
													class="mbrEdit glyphicon glyphicon-pencil" data-toggle="modal"
													data-target="#modalInfo"></span>
												</td>
											</tr>
										</tbody>
									</table>
									
									<!-- Modal -->
									<div class="modal fade modal-info" id="modalInfo" tabindex="-1"
										role="dialog" aria-labelledby="myModalLabel"
										aria-hidden="true">
										<div class="modal-dialog">
											<div class="modal-content">
												<div class="modal-header">
													<button type="button" class="close" data-dismiss="modal"
														aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
													<h4 class="modal-title" id="myModalLabel">编辑会员信息</h4>
												</div>
												<div class="modal-body">
													<div class="col-xs-12">
														<form class="form-horizontal">
															<div class="form-group">
																<label for="uid" class="col-sm-2 control-label">id</label>
																<div class="col-sm-10">
																	<input type="text" class="form-control" id="uid" disabled="disabled"  />
																</div>
															</div>
															<div class="form-group">
																<label for="nickName" class="col-sm-2 control-label">用户昵称</label>
																<div class="col-sm-10">
																	<input type="text" class="form-control" id="nickName" placeholder="请输入昵称" />
																</div>
															</div>
															<div class="form-group">
																<label for="fullName" class="col-sm-2 control-label">用户姓名</label>
																<div class="col-sm-10">
																	<input type="text" class="form-control" id="fullName" disabled="disabled"  />
																</div>
															</div>
															<div class="form-group">
																<label for="tel" class="col-sm-2 control-label">联系电话</label>
																<div class="col-sm-10">
																	<input type="text" class="form-control" id="tel" placeholder="请输入联系电话" />
																</div>
															</div>
															<div class="form-group">
																<label for="email" class="col-sm-2 control-label">电子邮件</label>
																<div class="col-sm-10">
																	<input type="text" class="form-control" id="email" placeholder="请输入邮箱" />
																</div>
															</div>
															<div class="form-group">
																<label for="company" class="col-sm-2 control-label">公司</label>
																<div class="col-sm-10">
																	<input type="text" class="form-control" id="company" placeholder="请输入公司" />
																</div>
															</div>
															<div class="form-group">
																<label for="company" class="col-sm-2 control-label">角色</label>
																<div class="col-sm-10">
							                                        <select>
							                                            <optgroup label="authority" index='99'>
							                                                <option value="MG">管理员</option>
							                                                <option value="MB">会员</option>
							                                                <option value="TR">游客</option>
							                                            </optgroup>
							                                        </select>
																</div>
															</div>
														</form>
													</div>
												</div>
												<div class="modal-footer">
													<button type="button" class="btn btn-default"
														data-dismiss="modal">取消</button>
													<button type="button" class="btn btn-info" id="mbrUpdate">确定</button>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-xs-12 col-md-offset-10">
										<nav>
											<ul class="pagination">
												<li><a href="#" aria-label="Previous"> <span
														aria-hidden="true">&laquo;</span>
												</a></li>
												<li class="active"><a href="#">1</a></li>
												<li><a href="#">2</a></li>
												<li><a href="#">3</a></li>
												<li><a href="#">4</a></li>
												<li><a href="#" aria-label="Next"> <span
														aria-hidden="true">&raquo;</span>
												</a></li>
											</ul>
										</nav>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script th:inline="javascript">
	//<![CDATA[
	var uid = /*[[${user.uid}]]*/ '10000';

	// ]]>
</script>
</html>