<html>
<body>
	<div th:fragment="container">
		<div class="side-body">
			<div class="page-title">
				<span class="title">图集</span>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<div class="card-header">
							<div class="card-title">
								<div class="title">栖霞</div>
							</div>
						</div>
						<div class="card-body">
							<div>
								<div class="row no-margin">
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
								</div>
							</div>
							
							<div>
								<div class="row no-margin">
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
								</div>
							</div>
								
							<div>
								<div class="row no-margin">
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
								</div>
							</div>
							
							<div>
								<div class="row no-margin">
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
								</div>
							</div>
							
							<div>
								<div class="row no-margin">
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
								</div>
							</div>
							
							<div>
								<div class="row no-margin">
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
								</div>
							</div>
							
							<div>
								<div class="row no-margin">
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
								</div>
							</div>
							
							<div>
								<div class="row no-margin">
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
									<div class="col-xs-6 col-md-3">
										<a href="#" class="thumbnail"> <img
											src="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											data-original="../../img/thumbnails/picjumbo.com_IMG_4566.jpg"
											class="lazy img-responsive" />
										</a>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>