<html>
<body>
	<div th:fragment="container">
		<div class="side-body">
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<div class="card-body">
							<div>
								<div class="list-group">
									<div class="list-group-item" th:each="py, pyStat:${pyList}">
										<div>
											<a th:href="@{content(aid=${py.aid})}">
												<strong><p th:text="${py.title}" /></strong>
											</a>
										</div>
										<span class="badge">
											<span class="glyphicon glyphicon-duplicate">
												<span th:text="${py.star}"></span>
											</span>
										</span>
										<span class="badge">
											<span class="glyphicon glyphicon-thumbs-up">
												<span th:text="${py.star}"></span>
											</span>
										</span>
										<div th:text="${py.author}"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>